*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: blue;
    justify-content: center;
}
.login{
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    background-color: rgb(177, 225, 225);
}
header{
    font-size: 28px;
    font-weight: 600 ;
    color: rgb(8, 7, 7);
    text-align: center;
}
form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 45px;
    width: 100%;
    margin-top: 20px;
}
.field input{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    border: 1px;
}


.field button{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 6px;
    background-color: rgb(96, 96, 235);
    font-size:medium;
    cursor: pointer;
}

.field button:hover{
    background-color: rgb(32, 9, 115);
}

.eye-icon{
    position: absolute;
    top:50%;
    right: 10px;
}
.form-link{
    text-align:center ;
    margin-top: 10px;
}
.form-link span,.form-link a{
    font-size: 14px;
    font-weight: 400;
}

.form a{
    text-decoration: none;
}

.form a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    background-color: rgb(196, 76, 76);
    margin: 30px 0;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(177, 225, 225);
    color: gray;
}

.media-options i{
   display: flex;
   align-items: center;
   justify-content: center;
}
a.facebook{
    color: beige;
}